@charset "ISO-8859-1";
body
{
  text-align:center;
  background:url("images/19581171777f0546dd7752a0b1381ac5.jpg");
  background-color: #34495e;
  padding:0px;
  font-family: sans-serif;
  color:white;
  margin-top: 0px;
}
.box
{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1
{
  color: white;
  text-transform: uppercase;
  font-weight: 300;
 }
.box input[type = "text"], .box input[type= "password"]
{
  border: 0;
  background:none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"] :focus , .box input[type="password"] :focus
{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type=submit], .button
{
  border: 0;
  background: none;
  display: inline;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration:none;
}
.box input[type="submit"]:hover, .button:hover
{
  background: #2ecc71;

}